/* Custom Form styles */
body {
    display: flex;
    align-items: flex-start;
    gap: 10em;
    padding: 20px;
}

h2 {
    margin-bottom: 5px;
}

#form-container,
#table-container {
    width: 50%;
}

#dynamic-form {
    min-height: 25em;
    height: auto;
    border: 1px solid #ccc;
}

.field-wrapper {
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 10px;
}

.edit-header {
    cursor: text;
}

.edit-header::after {
    content: ':';
}

.edit-header:hover {
    color: #5dade2;
}

input,
select {
    margin: 3px;
}

.remove-field {
    float: left;
    background: none;
    border: none;
    color: #f5b7b1;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}

.remove-field:hover {
    color: #e74c3c;
}

.form-message {
    color: #333;
    opacity: 0.7;
}

/* Table styles */
.table-wrapper {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-wrapper th,
.table-wrapper td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50%;
}

.table-wrapper th {
    background-color: #f2f2f2;
    color: #000;
}

.table-wrapper td:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Modal Window styles */
#selectOptionsModal {
    display: none;
    /* Initially hidden */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    /* Ensures modal is above other content */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Adjust as needed */
    position: relative;
    /* Allows for absolute positioning of children */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: #f00;
}