body {
    display: flex;
    align-items: flex-start;
    gap: 10em;
    padding: 20px;
}

#form-container,
#table-container {
    width: 50%;
}

.edit-header::after {
    content: ':';
}

.field-wrapper {
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 10px;
}

#dynamic-form {
    min-height: 25em;
    height: auto;
    border: 1px solid #ccc;
}

input,
select {
    margin: 3px;
}

.remove-field {
    float: left;
}

.table-wrapper {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-wrapper th {
    background-color: #f2f2f2;
    color: #000;
}

.table-wrapper td:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
}

.remove-field {
    background: none;
    border: none;
    color: #ee7575;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}

.remove-field:hover {
    color: red;
}